body{
	background-color:#B22222;
	color:#FFFFFF;
	font-family:Comic Sans MS;
}
div{
	width:960px;
	background-color:white;
}
li{
	list-style-type:none;
	display:inline-block;
	background-color:#FFFFFF;
	color:#B22222;
	height:40px;
	width:120px;
	text-align:center;
	position:relative;
	padding:5px;
	border:2px solid #FFFFFF;
	border-radius:20px;
}
.u1{
	display:none;
	position:absolute;
	top:50px;
	left:-42px;
}
.menu:hover .u1{
	display:block;
}
.i1{
	width:300px;
	height:300px;
}
li:hover{
	background-color:#B22222;
	color:#FFFFFF;
	border:2px solid #FFFFFF;
	border-radius:20px;
	
}
.i3{
	position:absolute;
	height:150px;
	left:50px;
}
.i2{
	width:450px;
	height:300px;
	top:160px;
	position:absolute;
}
.u2{
	display:none;
	position:absolute;
	top:50px;
	left:-41px;
}
.h1{
	height:65px;
	width:100px;
	
}
.d4{
	position:absolute;
	left:480px;
	top:250px;
}
.i4{
	width:500px;
	height:300px;
}
nav{
	top:10px;
	position:absolute;
	left:450px;
}
footer{
	position:absolute;
	top:91%;
	border:2px solid white;
	border-radius:20px;
	background-color:white;
	width:99%;
	color:#B22222;
}
.menu{
	border:2px solid #B22222;
	top:5px;
}
a{
	color:#B22222;
	text-decoration:none;
}
a:hover{
	color:#FFFFFF;
	
}
.a1:hover{
	color:#B22222;
}
.in1{
	width:90px;
	height:150px;
}
.in2{
	width:180px;
	height:150px;
}
.in3{
	width:180px;
	height:150px;
}
.is1{
	width:180px;
	height:150px;
}

.s1{
	background-color:#FFFFFF;
	color:#B22222;
	width:300px;
	position:absolute;
	left:100px;
}
.s2{
	background-color:#FFFFFF;
	color:#B22222;
	width:300px;
	position:absolute;
	left:555px;
}
.s3{
	background-color:#FFFFFF;
	color:#B22222;
	width:300px;
	position:absolute;
	left:1000px
}
button{
	height:75px;
	width:200px;
	font-size:25px;
	background-color:#FFFFFF;
	color:#B22222;
	border: 2px solid #B22222;
}
button:hover{
	background-color:#B22222;
	color:#FFFFFF;
	border:2px solid #FFFFFF;
}
form{
	width:300px;
	left:39%;
	position:absolute;
}
.d2{
	width:600px;
	left:700px;
	position:absolute;
}
.heart{
	width:330px;
	height:300px;
	animation:heart 1.6s infinite linear;
}

@keyframes heart{
	0%{transform:scale(0,0)}
	50%{transform:scale(0.5,0.5)}
	100%{transform:scale(1,1)}
}

@media screen and (max-width:600px){	
	.s1{
		display: block;
		left:20px;
		color:black;
	}
	.s2{
		display: block;
		left:20px;
		top:560px;
		color:black;
	}
	.s3{
		display: block;
		top:900px;
		left:20px;
		color:black;
	}
}